$main-color: #36d5c4


.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
  display: none !important
#__bs_notify__
  display: none !important
  opacity: 0 !important


@keyframes filterIn
  from
    opacity: 0
    transform: scale(0)
  to
    opacity: 1
    transform: scale(1)

@font-face
  font-family: "OpenSans-Bold"
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.ttf") format("truetype")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "OpenSans-Regular"
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.ttf") format("truetype")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "OpenSans-Semibold"
  src: url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.ttf") format("truetype")
  font-style: normal
  font-weight: normal

body
  font-family: 'Raleway', "OpenSans-Regular", sans-serif
  padding: 0
  margin: 0
  line-height: 1em
  font-size: 16px
  font-weight: 400

  &.no-scroll
    overflow: hidden!important

  p
    color: #7b7b7b
    line-height: 1.5em


*
  box-sizing: border-box

.content
  width: 1170px
  margin: auto
  clear: both

.wrap
  min-height: calc(100vh - 427px)

.hidden
  display: none
  visibility: hidden

.home
  h1
    text-transform: uppercase
    float: right
    line-height: 35px
    margin-top: -115px
    //font-family: "OpenSans-Bold", sans-serif
    clear: both
    color: #3d3e3c
    font-size: 18px
    font-weight: 600

  .filter .list_filter li
    cursor: pointer
//line-height: 48px

.block_portfolio
  margin-bottom: 100px
  .list_portfolio
    margin: 0 -15px 0
    clear: both




    .item
      //display: inline-block
      //vertical-align: top

      width: 370px
      height: 270px
      margin: 0 15px 30px
      overflow: hidden
      float: left
      position: relative
      //display: none

      &:nth-child(9n+1)
        width: 770px
        height: 570px
      &:nth-child(9n+4),&:nth-child(9n+5),&:nth-child(9n+6)
        height: 370px
      &:nth-child(9n+7)
        width: 770px
        height: 570px
        float: right


      .img-holder
        height: 100%
        overflow: hidden
        position: relative
        .img
          background-size: cover
          background-position: top center
          position: absolute
          top: 0
          left: 0
          height: 100%
          width: 100%
        img
          height: 100%
          max-width: inherit
          min-width: 100%
          position: relative
          z-index: 1
      a
        display: block
        height: 100%
        &:hover
          .name
            transition: opacity 0.35s
            opacity: 1

      .name
        opacity: 0
        background: rgba(0, 0, 0, 0.5)
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        transition: opacity 0.35s
        display: table
        z-index: 2
        //&:after
          width: calc(100% - 60px)
          height: calc(100% - 60px)
          margin: 30px
          border: 5px solid #fff
          content: ""
          position: absolute
          top: 0
          left: 0
          box-sizing: border-box



        &-center
          display: table-cell
          vertical-align: middle
          text-align: center
          color: #fff
          text-transform: uppercase
          font-family: 'SourceSansPro', sans-serif
          font-size: 60px
          line-height: 1em

  .more_item
    //border: 1px solid #b3b2b2
    background:  #b9b9b9
    width: 168px
    height: 47px
    margin: 60px auto 0
    line-height: 47px
    text-align: center
    color: #fff
    font-size: 16px
    text-transform: uppercase
    font-weight: 500
    cursor: pointer
    transition: all 0.35s
    &:hover
      transition: all 0.35s
      background: $main-color



.filter
  //margin-bottom: 80px
  float: left
  margin-top: 30px


  .list_filter
    display: inline-block
    vertical-align: middle

    li

      height: 35px
      display: inline-block
      vertical-align: middle
      margin-right: 35px

      &:first-child
        color: #3d3e3c
        font-size: 30px
        line-height: 35px
        text-transform: uppercase
        display: inline-block
        vertical-align: middle
        margin-right: 165px
        font-weight: 600
      &.active
        img
          filter: none
      a
        &:hover
          img
            filter: none
            transition: all 0.35s

      &:last-child
        margin-right: 0
      img
        height: 100%
        filter: brightness(0.1)
        transition: all 0.35s






header
  padding: 40px 0 80px
  .logo
    width: 700px
    //margin-bottom: 30px
    float: left
    a
      display: block

  .block-right
    float: right
    margin-top: 25px
  .lang-block
    display: inline-block
    vertical-align: middle
    position: relative
    .active-lang
      //font-family: "OpenSans-Semibold", sans-serif
      font-size: 14px
      font-weight: 500
      line-height: 14px
      text-transform: uppercase
      color: $main-color
      position: relative
      padding-right: 15px
      cursor: pointer
      &:after
        content: ''
        position: absolute
        top: 50%
        right: 0
        margin-left: -3px
        margin-top: -2px
        width: 0
        height: 0
        border-left: 3px solid transparent
        border-right: 3px solid transparent
        border-top: 4px solid $main-color


    .lang-list
      display: none
      position: absolute
      top: 14px
      left: 0
      width: 100%

      li
        margin-top: 5px
        &.active
          display: none
        a
          font-size: 14px
          font-weight: 500
          line-height: 14px
          text-transform: uppercase
          color: #000
          transition: all 0.35s
          &:hover
            transition: all 0.35s
            color: $main-color
            text-decoration: none



  .menu-block
    //margin-top: 25px
    display: inline-block
    vertical-align: middle
    &.mobile
      display: none
      position: relative
      .navbar
        display: none
        clear: both
        position: absolute
        width: 100%
        background: #fff
        left: 0
        top: 35px
        z-index: 10
        padding: 30px 0 60px
      .navbar-toggle
        cursor: pointer
        margin: 2px 0
        float: right
        .icon-bar
          background-color: #000
          display: block
          width: 24px
          height: 2px
          margin-top: 5px
          &:first-child
            margin-top: 0
    .nav
      float: right
      li
        display: inline-block
        vertical-align: middle
        margin-right: 35px
        &.active
          a
            color: $main-color


        a
          //font-family: "OpenSans-Semibold", sans-serif
          font-size: 14px
          font-weight: 500
          line-height: 14px
          text-transform: uppercase
          transition: all 0.35s
          color: #000
          &:hover
            transition: all 0.35s
            color: $main-color
            text-decoration: none


footer
  background: #f0eeee
  padding: 50px 0 60px
  .logo
    width: 200px
    display: inline-block
    vertical-align: middle
    margin-right: 70px
    a
      display: block

  .social
    float: right

    h3
      color:  #3d3e3c
      font-size: 14px
      font-weight: 500
      line-height: 23px
      text-align: left
      display: inline-block
      vertical-align: middle
      margin-right: 25px
      text-transform: uppercase

    ul
      display: inline-block
      vertical-align: middle


    li
      display: inline-block
      vertical-align: middle
      margin: 0 7px

      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0

      a
        display: block
        width: 23px
        height: 23px
        border-radius: 30px
        background: #afb0b0
        color: #fff
        text-align: center
        line-height: 30px
        transition: all 0.35s
        i
          line-height: 23px
          font-size: 14px
          vertical-align: top
        &:hover
          background: $main-color
          transition: all 0.35s


  .item_contact
    display: inline-block
    vertical-align: middle

    li
      display: inline-block
      vertical-align: top
      margin-right: 50px
      color: #3d3e3c
      font-size: 14px
      line-height: 23px
      text-transform: uppercase
      font-weight: 500
      &:last-child
        margin-right: 0



      a

        color: #3d3e3c
        font-size: 14px
        line-height: 21px
        //text-transform: uppercase
        margin-bottom: 20px
        transition: all 0.35s
        display: inline-block
        vertical-align: top
        font-family: "OpenSans-Regular", sans-serif
        font-weight: normal
        margin-left: 5px
        text-transform: none
        &:hover
          color: $main-color
          text-decoration: none
          transition: all 0.35s

        &:last-child
          margin-bottom: 0


  .copyright
    display: block
    clear: both
    color: #3d3e3c
    font-family: "OpenSans-Regular", sans-serif
    font-size: 14px
    font-weight: 400
    line-height: 1em
    margin-top: 30px
    text-align: left



.portfolio_page
  .portfolio
    margin-bottom: 70px
  .img-holder
    width: 100%
    margin-bottom: 30px

  .portfolio-info

    background:  #f6f5f4
    margin-bottom: 30px
    padding: 70px 65px
    .share
      float: right
      h3
        font-family: "OpenSans-Semibold", sans-serif
        color:  #302f2f
        font-size: 18px
        font-weight: 400
        line-height: 1em
        text-transform: uppercase
        margin-bottom: 20px
      .ya-share2__container_size_m .ya-share2__icon
        width: 30px
        height: 30px

      .ya-share2__badge
        border-radius: 30px
      .ya-share2__container_size_m .ya-share2__item
        margin: 0 20px 0 0
        &:last-child
          margin: auto
      .ya-share2__item_service_facebook .ya-share2__badge,
      .ya-share2__item_service_pinterest .ya-share2__badge
        background: #afb0b0
        transition: all 0.35s
        &:hover
          transition: all 0.35s
          background: $main-color

    .block_text
      width: 660px
      float: left
      h1
        font-family: "OpenSans-Semibold", sans-serif
        color:  #302f2f
        font-size: 18px
        font-weight: 500
        line-height: 1em
        text-align: left
        text-transform: uppercase
        margin-bottom: 20px
      p

        color:  #5a5959
        font-size: 14px
        font-weight: 500
        line-height: 24px
        text-align: left


.contact_page
  .block-left
    display: inline-block
    vertical-align: top
    margin-right: 100px
    li
      margin-bottom: 40px
      &:last-child
        margin-bottom: 0
    h3

      color:  #000000
      font-size: 18px
      font-weight: 600
      line-height: 1em
      margin-bottom: 20px
    p

      color:  #000000
      font-size: 14px
      font-weight: 500
      line-height: 30px
      text-align: left
      a
        font-family: "OpenSans-Regular", sans-serif
        color:  #000000
        font-size: 14px
        font-weight: 400
        line-height: 1em
        transition: all 0.35s
        &:hover
          transition: all 0.35s
          color: $main-color
          text-decoration: none




  .contact
    display: inline-block
    vertical-align: top
    h3

      color:  #000000
      font-size: 18px
      font-weight: 600
      line-height: 1em
      margin-bottom: 20px
    >div.error
      input[type="text"], textarea
        border-color: red
    input[type="text"]
      border: 1px solid #e8e7e7
      width: 300px
      height: 45px
      box-sizing: border-box
      padding: 0 10px
      color:  #9d9c9c
      font-size: 14px
      font-weight: 500
      line-height: 43px
      text-align: left
      margin-bottom: 10px
    textarea
      border: 1px solid #e8e7e7
      width: 300px
      height: 100px
      box-sizing: border-box
      padding: 10px
      color:  #9d9c9c
      font-size: 14px
      font-weight: 500
      line-height: 1.3em
      text-align: left
      margin-bottom: 20px
    .submit

      color:  #989797
      font-size: 16px
      font-weight: 600
      line-height: 41px
      text-align: center
      width: 125px
      height: 45px
      border: 2px solid #bfbebe
      margin: auto
      cursor: pointer
      transition: all 0.35s
      box-sizing: border-box
      &:hover
        transition: all 0.35s
        background: $main-color
        border-color: $main-color
        color: #fff



.about_page
  .bg_about
    height: 305px
  .wrap
    width: 970px
    margin: -90px auto 0
    box-sizing: border-box
    padding: 55px 100px 100px
    background: #fff
    h1

      color: #000
      font-size: 36px
      font-weight: 700
      line-height: 1em
      text-transform: uppercase
      text-align: center
      margin-bottom: 60px
    p
      color: #5c5b5b
      font-size: 14px
      font-weight: 400
      line-height: 36px

    .img-holder
      margin-top: 65px
      width: 100%



@media screen and (max-width: 1230px)
  .content, .about_page .wrap
    width: 940px
  .wrap
    min-height: calc(100vh - 411px)

  header
    .logo
      width: 500px
    .block-right
      margin-top: 14px


  .filter


    .list_filter li
      margin-right: 25px
      &:first-child
        font-size: 24px
        margin-right: 55px


  footer
    .logo
      margin-right: 40px
    .item_contact li
      margin-right: 25px

    .social
      h3
        margin-right: 20px
      li
        margin: 0 5px



  .block_portfolio
    .list_portfolio
      margin: 0
      .item
        width: 293px
        margin: 0 10px 20px
        height: 275px
        .name .name-center
          font-size: 45px
        &:nth-child(9n+4), &:nth-child(9n+5), &:nth-child(9n+6)
          height: 275px

        &:nth-child(9n+1), &:nth-child(9n+7)
          width: 607px




@media screen and (max-width: 959px)
  body
    min-width: 320px
  .content, .about_page .wrap
    width: 100%
    box-sizing: border-box
    padding: 0 30px
  .block_portfolio .list_portfolio
    margin: 0
    .item
      width: calc(50% - 20px)
      height: 25vw
      &:nth-child(9n+1),
      &:nth-child(9n+7),
      &:nth-child(9n+4),
      &:nth-child(9n+5),
      &:nth-child(9n+6)
        width: calc(50% - 20px)
        height: 25vw



  footer
    padding: 50px 0
    .content
      > div, > ul
        display: block
        margin: 0 auto 30px
        text-align: center
        float: none!important
        &:last-child
          margin-bottom: 0



      .item_contact li
        display: block
        margin: 0 auto 30px
        a
          display: block
          margin: 5px auto 0

      .social
        h3
          display: block
          margin: 0 auto 10px
          text-align: center


  header
    padding: 40px 0
    .logo
      width: 200px
      display: block
      margin: auto
      position: relative
      z-index: 2
      //float: none
    .block-right
      float: none
      margin-top: 30px
    .block-right
      display: none
    .menu-block.mobile
      display: block


      .nav
        float: none

        li
          display: block
          margin: auto
          a
            display: block
            padding: 15px 0
            text-align: center


      .lang-block
        display: block
        margin-top: 30px

        ul
          display: block
          position: relative
          text-align: center
          width: 100%
          left: inherit
          top: inherit
          li
            display: inline-block
            vertical-align: middle
            margin: 0 10px
            a
              color: #000
              transition: all 0.35s
              &:hover
                color: $main-color
                transition: all 0.35s
                text-decoration: none

            &.active
              display: inline-block
              vertical-align: middle
              a
                color: $main-color


  .filter
    float: none
    //text-align: center
    .list_filter
      li
        height: 28px
        margin-right: 20px
        &:first-child
          margin: auto
          display: block
          margin-bottom: 20px
          text-align: left
          font-size: 16px
          line-height: 1em
          height: auto



  .home
    h1
      margin-top: 0
      float: none
      margin-bottom: 30px




@media screen and (max-width: 500px)
  .block_portfolio .list_portfolio .item
    width: 100%
    margin: 0 auto 20px
    height: 80vw
    &:nth-child(9n+1), &:nth-child(9n+7),
    &:nth-child(9n+4), &:nth-child(9n+5), &:nth-child(9n+6)
      width: 100%
      height: 80vw

