$main-color: #00d89f


.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
  display: none !important
#__bs_notify__
  display: none !important
  opacity: 0 !important



@font-face
  font-family: "AvenirNextW1G-Demi"
  src: url("../fonts/AvenirNextW1G-Demi.eot")
  src: url("../fonts/AvenirNextW1G-Demi.eot?#iefix")format("embedded-opentype"),url("../fonts/AvenirNextW1G-Demi.otf") format("otf"), url("../fonts/AvenirNextW1G-Demi.svg") format("svg"),url("../fonts/AvenirNextW1G-Demi.woff") format("woff"),url("../fonts/AvenirNextW1G-Demi.ttf") format("truetype")
  font-style: normal
  font-weight: normal



body
  font-family: "BorgiaPro-Regular", Arial, sans-serif
  padding: 0
  margin: 0
  line-height: 1em
  font-size: 16px

  &.no-scroll
    overflow: hidden!important

  p
    color: #7b7b7b
    line-height: 1.5em


*
  box-sizing: border-box

