doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper


            .container.error404
                .content
                    .logo
                        a(href="/")
                            img( src="img/icons/logo.png" alt="ILovePaсkage")
                    .error404_text 404
                    .error_text Page not found
                    a(href="/" class="submit black_button") home page


