

footer

    .content.cf


        .logo
            a(href="index.html")
                img(src="img/icons/logo.png")





        ul.item_contact

            li Phone:
                a(href="tel:+38(068)1295629") +38(068)1295629

            li Email:
                a(href="mailto:kse@logovo.com.ua") kse@logovo.com.ua

        .social
            h3 Follow us on
            ul
                li
                    a(href="#" target="_blank")
                        i.fa.fa-behance
                li
                    a(href="#" target="_blank")
                        i.fa.fa-pinterest-p
                li
                    a(href="#" target="_blank")
                        i.fa.fa-instagram
                li
                    a(href="#" target="_blank")
                        i.fa.fa-facebook

        .copyright © Copyright 2016





script(src="bower_components/jquery/dist/jquery.js")
script(src="js/functions.js")
script(src="js/validate.js")
