

footer

    .content.cf


        .logo
            a(href="index.html")
                img(src="img/icons/logo.svg")

        ul.social

            li
                a(href="#" target="_blank")
                    i.fa.fa-behance
            li
                a(href="#" target="_blank")
                    i.fa.fa-pinterest-p
            li
                a(href="#" target="_blank")
                    i.fa.fa-instagram
            li
                a(href="#" target="_blank")
                    i.fa.fa-facebook



        ul.item_contact

            li
                span Phone:
                span
                    a(href="tel:+38(068)1295629") +38(068)1295629
                    a(href="tel:+38(068)1295629") +38(068)1295629
            li
                span Email:
                span
                    a(href="mailto:kse@logovo.com.ua") kse@logovo.com.ua
                    a(href="mailto:kse@logovo.com.ua") kse@logovo.com.ua


        .copyright © ILOVEPACKEGE 2016





script(src="bower_components/jquery/dist/jquery.js")
script(src="js/functions.js")

