
//#overlay
#footer.block_contacts
    .block_footer
        .container.cf
            .wrap.cf
                .block_text Let’s be in touch, just&nbsp;
                    i write me
                .list_contacts
                    .item_contact
                        h5 VISIT US
                        p 407 E. Louisiana
                            br
                            | St Suite 105
                            br
                            | McKinney, TX 75069

                    .item_contact
                        h5 CONTACT US
                        p
                            i Phone:
                            a(href="tel:437-836-3082") 437-836-3082
                        p
                            i Email:
                            a(href="mailto:hello@techtalent.com") hello@techtalent.com
                        p
                            a.link_impressum(href="impressum.html") Impressum

                    .item_contact
                        h5 FOLLOW US
                        ul

                            li
                                a(href="#" target="_blank")
                                    i.fa.fa-facebook
                                    | Facebook
                            li
                                a(href="#" target="_blank")
                                    i.fa.fa-linkedin
                                    | Linkedin

                            li
                                a(href="#" target="_blank")
                                    i.fa.fa-xing
                                    | Xing


#overlay
#form_feedback.modal_div
    .modal_close
    .success_box Thanks for the feedback
    .content-holder

        .overflow-holder

            form
                h3 Give feedback
                div
                    input(type="text" placeholder="Name" data-validate="name")
                div
                    input(type="text" placeholder="Company" data-validate="empty")
                div
                    input(type="text" placeholder="Position" data-validate="empty")
                div
                    textarea( placeholder="Your review" data-validate="empty")

                a.button.submit.btn(type="submit") Send



script(src="bower_components/jquery/dist/jquery.js")
script(src="js/functions.js")
script(src="js/alexValidate.js")
script(src="js/owl.carousel.js")
script(src="js/typed.js")

//script(src="bower_components/jquery.bxslider/jquery.bxslider.js")
