
header
    .content.cf
            .logo
                a(href="index.html")
                    img(src="img/icons/logo.png")



            .lang-block
                .active-lang En
                ul.lang-list
                    li.active
                        a(href="#") En
                    li
                        a(href="#") Rus
                    li
                        a(href="#") De

            nav.menu-block.cf

                ul.nav
                    li.active
                        a(href="index.html") Portfolio

                    li
                        a(href="contact.html") Contact





            nav.menu-block.mobile
                .navbar-toggle
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                .navbar
                    ul.nav
                        li.active
                            a(href="index.html") Portfolio

                        li
                            a(href="contact.html") Contact

                    .lang-block
                        .lang-block
                            ul
                                li.active
                                    a(href="#") En
                                li
                                    a(href="#") Rus
                                li
                                    a(href="#") De






