
header
    .content.cf
            .logo
                a(href="index.html")
                    img(src="img/icons/logo.png")


            .block-right


                nav.menu-block.cf

                    ul.nav
                        li.active
                            a(href="index.html") Portfolio
                        li
                            a(href="about.html") About
                        li
                            a(href="contact.html") Contact
                .lang-block
                    .active-lang En
                    ul.lang-list
                        li.active
                            a(href="#") En
                        li
                            a(href="#") Ru
                        li
                            a(href="#") De




            .menu-block.mobile
                .navbar-toggle
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                .navbar
                    nav
                        ul.nav
                            li.active
                                a(href="index.html") Portfolio
                            li
                                a(href="about.html") About
                            li
                                a(href="contact.html") Contact

                    .lang-block

                            ul
                                li.active
                                    a(href="#") En
                                li
                                    a(href="#") Ru
                                li
                                    a(href="#") De



            .filter
                h3 Package design
                ul.list_filter


                    //li.active(data-cat="all")
                    li(data-cat="filter1")
                        img(src="img/content/filter1_active.png")
                    li(data-cat="filter2")
                        img(src="img/content/filter2_active.png")
                    li(data-cat="filter3")
                        img(src="img/content/filter3_active.png")
                    li(data-cat="filter4")
                        img(src="img/content/filter4_active.png")
                    li(data-cat="filter5")
                        img(src="img/content/filter5_active.png")


