
header

    #header
        .container
            .logo
                a(href="index.html")
                    #typed-strings
                        p Anke Carola Walter
                    span#typed

                    //img(src="img/icons/logo.svg")

            .lang-block
                ul
                    li.active
                        a(href="#") De
                    li
                        a(href="#") En

            .menu-block

                ul.nav
                    li.active
                        a(href="index.html") ABOUT US
                    li
                        a(href="list_services.html") SERVICES
                    li
                        a(href="list_portfolio.html") PORTFOLIO
                    li
                        a(href="blog.html") BLOG
                    li
                        a(href="index.html#footer") CONTACT US




            .menu-block.mobile
                .navbar-toggle
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                .navbar
                    ul.nav
                        li.active
                            a(href="about.html") ABOUT US
                        li
                            a(href="list_services.html") SERVICES
                        li
                            a(href="list_portfolio.html") PORTFOLIO
                        li
                            a(href="blog.html") BLOG
                        li
                            a(href="index.html#footer") CONTACT US

                    .lang-block
                        ul
                            li.active
                                a(href="#") De
                            li
                                a(href="#") En






