head


    meta(charset='UTF-8')
    meta(name='description', content='ILovePaсkage')
    meta(name='keywords', content='ILovePaсkage')
    title ILovePaсkage
    meta(property="og:image" content="img/icons/logo.png")
    meta(property="og:title" content="ILovePaсkage")
    meta(name='robots', content='index,follow')
    //link(rel="icon" type="image/png" href="img/icons/favicon.png")
    //link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,600&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    link(href="css/main.css" rel="stylesheet" type="text/css")
    link(href="css/template.css" rel="stylesheet" type="text/css")
    link(href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
