doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home

            include ./header.jade
            .block_img
                .container
                    .wrap
                        h4 Hello
                        .block_text


                            | My name is
                            br
                            | Anke Carola Walter
                            br
                            | I am an independent
                            br
                            i copywriter
            .content
                .block_services.cf
                    .container.cf
                        .wrap.cf
                            h4 services
                            .list_services
                                .item_service

                                    .block_service
                                        h3
                                            a(href="service1.html") TEXT WRITING
                                        p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                    .mask.cf
                                        .img-holder
                                            img(src="img/content/writing.jpg")

                                .item_service
                                    .block_service
                                        h3
                                            a(href="service2.html") Correction
                                        p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                    .mask.cf
                                        .img-holder
                                            img(src="img/content/correction.jpg")

                                .item_service
                                    .block_service
                                        h3
                                            a(href="service3.html") PR CONSULTATION
                                        p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                    .mask.cf
                                        .img-holder
                                            img(src="img/content/pr.jpg")

                                .item_service
                                    .block_service
                                        h3
                                            a(href="service4.html") SMM
                                        p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                    .mask.cf
                                        .img-holder
                                            img(src="img/content/smm.png")


                .block_industries_title
                    .container
                        .wrap
                            h4 INDUSTRIES
                            .block_text I grasp worldwide&nbsp;
                                i industries


                .block_industries
                    .container
                        ul.list_industries
                            li
                                span Beauty, cosmetics
                            li
                                span Sport
                            li
                                span Pr-agency
                            li
                                span Fashion
                            li
                                span Tourism / travel
                            li
                                span Magazines
                            li
                                span Lifestyle

                        .block_desc Whether through commerce or just an experience to tell your brand's story, the time has come to start using development languages that fit&nbsp;
                            i your projects needs

                .block_advantages
                    .container
                        .wrap
                            h4 ADVANTAGES
                            .block_text I could tell you about my&nbsp;
                                i advantages

                            .list_advantages.cf
                                .item_advantage
                                    .number 1
                                    .block_advantage We design seamless and progressive digital platforms with your business goals at the forefront of our strategy, so that you can evolve and grow to stay ahead of your competitors.

                                .item_advantage
                                    .number 2
                                    .block_advantage We design seamless and progressive digital platforms with your business goals at the forefront of our strategy, so that you can evolve and grow to stay ahead of your competitors.
                                .item_advantage
                                    .number 3
                                    .block_advantage We design seamless and progressive digital platforms with your business goals at the forefront of our strategy, so that you can evolve and grow to stay ahead of your competitors.

                                .item_advantage
                                    .number 4
                                    .block_advantage We design seamless and progressive digital platforms with your business goals at the forefront of our strategy, so that you can evolve and grow to stay ahead of your competitors.



                .block_reviews
                    .container
                        .wrap
                            h4 Reviews
                            .block_text Here is my&nbsp;
                                i clients
                            .list_reviews
                                .item_reviews
                                    .img-holder
                                        img(src="img/content/logo_google.png")
                                    .text_reviews
                                        .text « ACW exceeded all the expectation, she is actually listen to you and incorporate your knowladge. She seek to work with you to achieve the best outcomes... »
                                        .name Lizabeth Durfel,&nbsp;
                                            i.post Head of the building company
                                .item_reviews
                                    .img-holder
                                        img(src="img/content/logo_google.png")
                                    .text_reviews
                                        .text « ACW exceeded all the expectation, she is actually listen to you and incorporate your knowladge. She seek to work with you to achieve the best outcomes... »
                                        .name Lizabeth Durfel,&nbsp;
                                            i.post Head of the building company

                            .feedback.open-modal(href="#form_feedback") GIVE FEEDBACK



            include ./footer.jade



