doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home


            include ./header.jade
            .content.cf.wrap



                h1 Portfolio
                .block_portfolio.cf

                    .list_portfolio.cf

                            .item(data-cat="filter1")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio1.jpg")
                                    .name
                                        .name-center
                                            div Animokai


                            .item(data-cat="filter2")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio2.jpg")
                                    .name
                                        .name-center
                                            div Animokai

                            .item(data-cat="filter3")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio3.jpg")
                                    .name
                                        .name-center
                                            div Animokai

                            .item(data-cat="filter4")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio4.jpg")
                                    .name
                                        .name-center Animokai
                            .item(data-cat="filter5")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio5.jpg")
                                    .name
                                        .name-center
                                            div Animokai

                            .item(data-cat="filter1")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio6.jpg")
                                    .name
                                        .name-center
                                            div Animokai

                            .item(data-cat="filter2")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio1.jpg")
                                    .name
                                        .name-center
                                            div Animokai
                            .item(data-cat="filter3")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio2.jpg")
                                    .name
                                        .name-center
                                            div Animokai

                            .item(data-cat="filter4")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio3.jpg")
                                    .name
                                        .name-center
                                            div Animokai

                            .item(data-cat="filter5")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio1.jpg")
                                    .name
                                        .name-center
                                            div Animokai


                            .item(data-cat="filter1")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio2.jpg")
                                    .name
                                        .name-center
                                            div Animokai

                            .item(data-cat="filter2")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio3.jpg")
                                    .name
                                        .name-center
                                            div Animokai

                            .item(data-cat="filter3")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio4.jpg")
                                    .name
                                        .name-center
                                            div Animokai
                            .item(data-cat="filter4")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio5.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter5")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio6.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter1")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio1.jpg")
                                    .name
                                        .name-center Animokai
                            .item(data-cat="filter2")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio2.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter3")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio3.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter4")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio1.jpg")
                                    .name
                                        .name-center Animokai


                            .item(data-cat="filter5")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio2.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter1")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio3.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter2")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio4.jpg")
                                    .name
                                        .name-center Animokai
                            .item(data-cat="filter3")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio5.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter4")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio6.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter5")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio1.jpg")
                                    .name
                                        .name-center Animokai
                            .item(data-cat="filter2")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio2.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter3")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio3.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter1")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio1.jpg")
                                    .name
                                        .name-center Animokai


                            .item(data-cat="filter2")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio2.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter3")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio3.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter4")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio4.jpg")
                                    .name
                                        .name-center Animokai
                            .item(data-cat="filter1")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio5.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter5")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio6.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter1")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio1.jpg")
                                    .name
                                        .name-center Animokai
                            .item(data-cat="filter2")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio2.jpg")
                                    .name
                                        .name-center Animokai

                            .item(data-cat="filter3")
                                a(href="portfolio.html")
                                    .img-holder
                                        img(src="img/content/portfolio3.jpg")
                                    .name
                                        .name-center Animokai
                    .more_item See more


            include ./footer.jade



