doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home


            include ./header.jade
            .content

                .list_portfolio.cf
                    .row

                        .item
                            a(href="#")
                                .img-holder
                                    img(src="img/content/portfolio1.jpg")
                                .name Animokai


                        .item
                            a(href="#")
                                .img-holder
                                    img(src="img/content/portfolio2.jpg")
                                .name Animokai

                        .item
                            a(href="#")
                                .img-holder
                                    img(src="img/content/portfolio3.jpg")
                                .name Animokai
                    .row
                        .item
                            a(href="#")
                                .img-holder
                                    img(src="img/content/portfolio6.jpg")
                                .name Animokai
                        .item
                            a(href="#")
                                .img-holder
                                    img(src="img/content/portfolio4.jpg")
                                .name Animokai

                        .item
                            a(href="#")
                                .img-holder
                                    img(src="img/content/portfolio5.jpg")
                                .name Animokai




            include ./footer.jade



