doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.portfolio_page


            include ./header2.jade
            .content.cf.wrap
                .portfolio.cf

                    .image-holder
                        img.fake-img(src="img/content/img1.jpg" alt="")
                        .img(style="background: url('img/content/img1.jpg') no-repeat;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;")



                    .portfolio-info.cf
                        .block_text
                            h1 Lorem ipsum

                            p There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        .share
                            h3 share:
                            .likely
                                .facebook
                                    i.fa.fa-facebook-f
                                .pinterest
                                    i.fa.fa-pinterest-p


                    .img-holder
                        img(src="img/content/img2.jpg")
                    .img-holder
                        img(src="img/content/img3.jpg")
                    .img-holder
                        img(src="img/content/img4.jpg")

            include ./footer.jade



